<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>com.stu.servlet.AddStuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindStuServlet</servlet-name>
    <servlet-class>com.stu.servlet.FindStuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStuServlet</servlet-name>
    <servlet-class>com.stu.servlet.UpdateStuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteStuServlet</servlet-name>
    <servlet-class>com.stu.servlet.DeleteStuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindStuCount</servlet-name>
    <servlet-class>com.stu.servlet.FindStuCount</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindByNoServlet</servlet-name>
    <servlet-class>com.stu.servlet.FindByNoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.stu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddEmpServlet</servlet-name>
    <servlet-class>com.stu.servlet.AddEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindEmpServlet</servlet-name>
    <servlet-class>com.stu.servlet.FindEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindByEmIdServlet</servlet-name>
    <servlet-class>com.stu.servlet.FindByEmIdServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <servlet-class>com.stu.servlet.UpdateEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <servlet-class>com.stu.servlet.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRecordServlet</servlet-name>
    <servlet-class>com.stu.servlet.AddRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindRecordServlet</servlet-name>
    <servlet-class>com.stu.servlet.FindRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindByStunoServlet</servlet-name>
    <servlet-class>com.stu.servlet.FindByStunoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteRecordServlet</servlet-name>
    <servlet-class>com.stu.servlet.DeleteRecordServlet</servlet-class>
  </servlet>
















  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/servlet/AddStuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindStuServlet</servlet-name>
    <url-pattern>/FindStuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStuServlet</servlet-name>
    <url-pattern>/UpdateStuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStuServlet</servlet-name>
    <url-pattern>/DeleteStuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindStuCount</servlet-name>
    <url-pattern>/FindStuCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByNoServlet</servlet-name>
    <url-pattern>/FindByNoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmpServlet</servlet-name>
    <url-pattern>/AddEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindEmpServlet</servlet-name>
    <url-pattern>/FindEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByEmIdServlet</servlet-name>
    <url-pattern>/FindByEmIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmpServlet</servlet-name>
    <url-pattern>/UpdateEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <url-pattern>/DeleteEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRecordServlet</servlet-name>
    <url-pattern>/AddRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindRecordServlet</servlet-name>
    <url-pattern>/FindRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByStunoServlet</servlet-name>
    <url-pattern>/FindByStunoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteRecordServlet</servlet-name>
    <url-pattern>/DeleteRecordServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
